# Exclude all root-level files and folders from git archive (GitHub releases, git archive zips)
/* export-ignore

# Include only the addon folder in archives
/addons/nildevgames_directional_movement_2d/* -export-ignore
