# Exclude all root-level files and folders from git archive (GitHub releases, git archive zips)
/* export-ignore

# Include only the specific addon folder in archives (other addons folders will be excluded)
/addons/nildevgames_directional_movement_2d/ -export-ignore
